.dashboard{
    flex: 7;
    margin: 50px 5px 5px 5px;
    padding: 5px 5px 5px 20px;
    display: flex;
    flex-direction: column;
}

.dashboard-item-top {
    display: flex;
    background-color: #f1f1f1;
    text-align: left;
    height: 40px;
    justify-content: space-between;
}

.mylinkBo{
    cursor: pointer;
}

.moys{
    cursor: pointer;
}

.moys:hover{
    color: blue;
    border-bottom: 2px solid blue;
}

.cekOut{
    cursor: pointer;
}

.cekOut:hover{
    background-color: #0D6EFD;
    color: #FFFFFF;
}

