.permintaanSet{
    flex: 5;
    margin: 50px 5px 5px 5px;
    display: flex;
    flex-direction: column;
}

.permintaanSet-item-top {
    display: flex;
    background-color: #f1f1f1;
    text-align: right;
    height: 40px;
    justify-content: space-between;
}

.inDate{
    margin-left: 10px;
    border-radius: 8px;
    padding: 2px;
}

.clr-Pengajuan {
    background-color: #d07979a7 !important;
}
.clr-Progress {
    background-color: #e7d32260 !important;
    /* color: #918413; */
}
.clr-Selesai {
    background-color: #38cc4c73 !important;
}
.clr-Revisi {
    background-color: #a35ea6c4 !important;
}
.clr-Verify {
    background-color: #120cce60 !important;
}
.clr-nul {
    background-color: #ffffff !important;
}
.ag-theme-alpine {
    --ag-selected-row-background-color: rgba(35, 53, 124, 0.321) !important;
    --ag-odd-row-background-color: #f3f3f3;
  }
  
.bt-rev{
    margin-left: 10px;
    color: #e71e1e;
    font-size: 20px;
}
