.divisi{
    margin-top: 30px;
    flex: 5;
}

.divisiCrump{
    margin: 20px;
}

.divisiWidgets{
    display: flex;
    margin: 20px;
}

.divisiWidgets .icon{
    position: relative;
    display: block;
}

.divisiWidgets .icon i{
    color: var(--blue);
    font-size: 5em;
    text-align: center;
    align-items: center;
}

.link{
    width: 15rem;
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 991px){
    .link{
        width: 100%;
    }
}